<div align="center">
  <h1>Log In</h1>

  <form method="POST" action="/sessions">
    <p>
      <label for="email" id="email">Email:</label>
      <input type="text" name="email">
    </p>
    <p>
      <label for="password" name="password">Password:</label>
      <input type="password" name="password">
    </p>
    <p><input type="submit" value="Log In"></p>
  </form>

</div>
