<div align="center">
  <h1>Sign Up</h1>

  <form method="POST" action="/users">
    <div align="center">
      <p>
        <label for="username" name="name">Name</label>
        <input type="text" name="name">
      </p>
      <p>
        <label for="email" id="email" name="email">Email</label>
        <input type="text" id="email" name="email">
      </p>
      <p>
        <label for="password" name="password">Password</label>
        <input type="password" id="password" name="password">
      </p>
      <p>
        <input type="submit" value="submit">
      </p>
    </div>
  </form>
</div>
