<h1>Edit Book</h1>

<form method="POST" action="/books">
  <div align="center">
    <input id="hidden" type="hidden" name="_method" value="patch">
    <p>
      <label for="title" id="title">Title</label>
      <input type="text" id="title" name="title" value="<%= @book.title %>">
    </p>
    <p>
      <label for="author" id="author">Author</label>
      <input type="text" id="author" name="author" value="<%= @book.author %>">
    </p>
    <p>
      <label for="year_published" id="year_published">Year Published</label>
      <input type="text" id="year_published" name="year_published" value="<%= @book.year_published %>">
    </p>
    <p>
      <label for="condition" id="condition">Condition</label>
      <input type="text" id="condition" name="condition" value="<%= @book.condition %>">
    <p>
      <input type="submit" value="submit">
    <p>
  </div>
</form>
