<div align="center">
  <h1>Our Current Library</h1>
  <p><a href='/books/new'>Add Book To Library</a></p>
</div>
<div align="center">
  <% @books.each do |book| %>
    <p><a href="/books/<%= book.id %>"><%= book.title %></a> written by
      <%= book.author %></p>
  <% end %>
</div>
