
  <div align="center">
    <h1>Welcome To Bookshare!</h1>
    <p><a href="/books">Browse Our Library</a></p>
    <p>
      Our mission is to help spread knowledge at no cost.
      Here is a list of all books available to be borrowed, and
      returned at any time! Help the community out by offering to
      lend your books to those that may be interested. Let's learn
      together!
    </p>

    <p><a href="/users/new">Sign Up</a> | <a href="sessions/login">Log In</a></p>
  </div>
